{
    "presets": [
        [
            "@babel/preset-env",
            {
                "exclude": [
                    // eliminate regenerator runtime error
                    "transform-regenerator"
                ]
            }
        ]
    ]
}