<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yummy | Eats</title>
</head>

<body>
    <!-- overlay screen -->
    <div class="overlay" id="overlay">
        <h2>Just Wait...</h2>
    </div>
    <!-- top section -->
    <div class="top-section hero-bg">
        <!-- header and logo -->
        <div class="container animate">
            <header>
                <a href="index.html" class="logo">yummy.eats</a>
                <h1>
                    <span>The Healthy</span>
                    Eating Experience
                </h1>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem quo eveniet numquam saepe accusantium
                    enim
                    beatae voluptas minima provident mollitia.
                </p>
            </header>
        </div>

        <!-- form section -->
        <div class="container animate">
            <div class="form-container">
                <form>
                    <!-- left half of form -->
                    <div class="form-left">
                        <label for="city">Enter your city:</label>
                        <input type="text" name="city" id="city">
                        <p class="form-example">Example: "San Diego"</p>
                    </div>

                    <!-- right half of form -->
                    <div class="form-right">
                        <input type="button" value="Find Food Now" id="btn">
                    </div>
                </form>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>

    <!-- bottom section -->
    <div class="bottom-section">

        <!-- main body section -->
        <div class="container">
            <div class="main-body">
                <h2>Authentic. Awesome.</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos expedita placeat praesentium
                        dignissimos eum unde voluptate, animi repellat labore iusto autem itaque voluptatem deserunt non
                        maxime, molestiae veritatis aut blanditiis.
                    </p>
            </div>

            <!-- food image section -->
            <div class="food-img">
                <img src="../styles/images/food.jpg" alt="food image">
            </div>
        </div>

    </div>

    <footer>
        <p>
            yummy.eats created by Mwafy @2020
        </p>
    </footer>

</body>

</html>