<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel | App</title>
</head>

<body>
    <!-- overlay screen -->
    <div class="overlay" id="overlay">
        <h2>Just Wait...</h2>
    </div>
    <!-- top section -->
    <div class="top-section hero-bg">
        <!-- header and logo -->
        <div class="container animate">
            <header>
                <a href="index.html" class="logo">Nice Travel</a>
                <h1>
                    <span>Wanna travel ?!</span>
                    let's get some information
                </h1>
                <p>
                    With nice travel app you can get information about weather in your upcoming destination and also get
                    the best photo.
                </p>
            </header>
        </div>

        <!-- form section -->
        <div class="container animate">
            <div class="form-container">
                <form>
                    <!-- left half of form -->
                    <div class="form-left">
                        <label for="city">Enter your travel destination:</label>
                        <input type="text" name="city" id="city">
                        <p class="form-example">Example: "Japan"</p>
                    </div>

                    <!-- right half of form -->
                    <div class="form-right">
                        <input type="button" value="Search..." id="btn">
                    </div>
                </form>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>

    <!-- bottom section -->
    <div class="bottom-section">

        <!-- main body section -->
        <div class="container">
            <!-- TODO -->
        </div>

    </div>

    <footer>
        <p>
            Nice Travel App created by Mwafy @2020
        </p>
    </footer>

</body>

</html>